.navbar {
  height: 8vh;
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft span {
  font-weight: bold;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navRight ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle-section {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* Sidebar hidden by default */
.sidebar {
  display: none;
}

/* Sidebar toggle button */
.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Responsive navbar */
@media (max-width: 768px) {
  .navRight {
    display: none;
    margin-top: 1rem;
  }

  /* Display the toggle button */
  .middle-section .sidebar-toggle {
    display: block;
    color: #c1b01c;
    z-index: 999;
  }

  .sidebar {
    z-index: 999;
    display: block;
    position: fixed;
    top: 8vh; /* Adjust to avoid overlap with fixed navbar */
    right: 0;
    height: 100vh;
    width: 250px;
    padding-top: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* gap: 1.3rem; */
  }

  .sidebar ul li {
    display: block;
    margin: 0 auto;
    list-style: none;
    padding: 1rem;
  }
}
